In [ ]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
import seaborn as sns

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/BlaHaws/Personal-Projects/main/TimeSeries-Projects/raw_data/silver_price.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/BlaHaws/Personal-Projects/main/TimeSeries-Projects/raw_data/gold_price.csv')

In [12]:
df3 = df.join(df2.set_index('date'), on='date', lsuffix='_silver', rsuffix='_gold')

In [13]:
df3

             date  price_silver  price_gold
0      1968-01-02         2.173         NaN
1      1968-01-03         2.225         NaN
2      1968-01-04         2.171         NaN
3      1968-01-05         2.157         NaN
4      1968-01-08         2.163         NaN
...           ...           ...         ...
13470  2021-03-30        24.340     1683.95
13471  2021-03-31        24.000     1691.05
13472  2021-04-01        24.315     1726.05
13473  2021-04-06        25.040     1744.65
13474  2021-04-07        24.985     1738.05

[13475 rows x 3 columns]